
<h1 class="text-center">Find the perfect Drag Queen for your event!</h1><br>

<%= simple_form_for :search, url: queens_path, method: :get, html: { class: 'search-form' } do |f| %>
  <div class="search-fields">
    <%= f.input :location, as: :string, label: false, placeholder: 'Location', input_html: { class: 'form-control' } %>
    <%= f.input :date, as: :string, label: false, placeholder: 'Date', input_html: { class: 'form-control', type: 'date' } %>
    <%= f.input :skills, label: false, collection: Queen::SKILLSET, input_html: { class: 'form-control', multiple: false }, prompt: 'Select skill' %>
  </div>
  <%= f.button :submit, 'SEARCH', class: 'btn btn-search' %>
<% end %>

<div class="d-grid gap-2 col-4 mx-auto">
<%= link_to "Or create New Profile", new_queen_path, class: "btn btn-primary mb-3" %>
</div>

<div class="queen-cards">
  <% @queens.each do |queen| %>
<%=render "card", queen: queen %>
  <% end %>
</div>
